# Secrets example
variable "password" {
  type        = string
  description = "Password of the student"
  default     = "MyPassword123"
}

resource "local_file" "foreach_example" {
  filename = "${path.module}/password.txt"
  content  = "MyPassword: ${var.password}"
}

output "password" {
  description = "Password of the student"
  value       = var.password
}
